* {
  cursor: default;
}
header {
  background-color: cadetblue;
}
.selected {
  background-color: cadetblue;
  width: 180px;
  color: white;
  margin-left: 5pt;
}
li {
  list-style-type: none;
}
li:hover {
  background-color: cadetblue;
  width: 180px;
  color: white;
}
h1 {
  display: flex;
  justify-content: center;
  color: white;
  margin: 0;
}
h2 {
  justify-content: center;
  display: flex;
}
ul {
  padding: 0;
}
img {
  width: 400px;
}
.container {
  display: flex;
  margin: auto;
  padding-top: 40px;
  width: 900px;
  justify-content: flex-start;
}
.left-side {
  width: 27.3%;
  margin-left: 110px;
  padding-right: 0px;
}
.detales {
  width: 50%;
  margin: 0 auto;
}
.bio {
  width: 400px;
}
.search-box {
  display: flex;
}
.user-detales {
  margin-left: 30px;
  padding: 0;
}
